#fourth{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
#content-fourth{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 70%;
    height: auto;
}
#span-fourth{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 150px;
    font-size: 45px;
}
/*configs individuais*/
.div-projects{
    transition:0.5s;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 5px;
}
.div-projects:hover{
    transition:0.5s;
    transform: scale(1.04);
}
.projects-e{
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: left;
    width: 60%;
    height: 100%;
    margin-bottom: 30px;
}
.projects-d{
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    overflow: hidden;
}
.auxiliar-css-projects{
    transition: 0.8s;
    background-color: rgb(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
}
.div-projects:hover .auxiliar-css-projects{
    transition: 0.5s;
    background-color: transparent;
}
.titulo-projects{
    text-decoration: none;
    color: rgb(206, 249, 255);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 28px;
}
.descricao-projects{
    background-color: transparent;
    height: auto;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    overflow: hidden;
}
.div-visualizacao-qtn-d{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: left;
    width: auto;
    height: 40px;
    margin-left: 20px;
}
.div-visualizacao-qtn-e{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: left;
    width: auto;
    height: 40px;
}
#imgs-projects{
  width: 100%;
}
#a-code{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#code-img{
    width: 20px;
    padding-right: 0.7px;
}

/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/

/*880*/
@media screen and (max-width: 880px) {
    #content-fourth{
        width: 80%;
    }
}

/*770*/
@media screen and (max-width: 770px) {
    #content-fourth{
        width: 90%;
    }
}

/*690*/
@media screen and (max-width: 690px) {
    #content-fourth{
        width: 95%;
    }
    .titulo-projects{
        font-size: 25px;
    }
    .descricao-projects{
        font-size: 12px;
    }
}

/*635*/
@media screen and (max-width: 635px) {
    .titulo-projects{
        margin-top: 10px;
        font-size: 23px;
    }
    .descricao-projects{
        margin-top: 6px;
    }
    #a-code{
        width: 20px;
        height: 20px;
    }
    #code-img{
        width: 12px;
    }
}

/*535*/
@media screen and (max-width: 535px) {
    #span-fourth{
        height: 100px;
        font-size: 45px;
    }
    .titulo-projects{
        margin-top: 10px;
        font-size: 17px;
    }
    .descricao-projects{
        font-size: 10px;
        margin-top: 6px;
    }
    #a-code{
        width: 17px;
        height: 17px;
    }
    #code-img{
        width: 12px;
    }
}

/*GRANDE MUDANÇA*/
/*400*/
@media screen and (max-width: 400px) {
    .projects-e{
        width: 100%;
        height: 100%;
        z-index: 1;
        margin-bottom: 20px;
    }
    .projects-d{
        position: absolute;
        width: 100%;
        z-index: 0;
    }
    .div-projects{
        position: relative;
    }
    .div-projects:hover .auxiliar-css-projects{
        transition: 0.8s;
        background-color: rgb(0, 0, 0, 0.8);
    }
}