main{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    height: auto;
    overflow: hidden;
    border-top: solid 2px white;
}
